<div class="flexrow">
    <aside class="sidebar flexcol">
        <div class="entry-filter form-group">
            <input name="filter" type="search" placeholder="{{localize "PACKAGECONFIG.Filter"}}" value=""/>
        </div>
        <nav class="tabs" aria-label="{{localize 'PACKAGECONFIG.NavLabel'}}">
            {{#each packs as |pack|}}
            <a class="item category-tab" data-tab="{{pack.id}}">
                {{pack.title}}
                <span class="count">[{{ pack.count }}]</span>
            </a>
            {{/each}}
        </nav>
    </aside>

    <form class="categories flexcol" autocomplete="off">
        <div class="scrollable">
            <ol style="list-style: none; margin: 0; padding: 0;">
            {{#each currentPack.generators as |generator|}}
            <li >
                <button {{#unless generator.valid}}disabled data-tooltip="{{localize "wfc-procedural-generator.actors-missing"}}"{{/unless}} data-index="{{generator.index}}" class="generate">{{#unless generator.valid}}<i style="color: var(--color-level-warning);" class="fa-solid fa-triangle-exclamation"></i> {{/unless}}Generate - {{generator.name}} [{{generator.count}}]</button>
            </li>
            {{/each}}
            </ol>
        </div>
    </form>
</div>
